* {
    margin: 0;
    border: border-box; 
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: rgba(95, 158, 160, 0.7);  
    color : white;
    display: flex;
    justify-content: space-between;
}

.title {
    height: 60px;
    font-size: 40px;
    font-family: "Oswald";
    margin-left: 10px;
}

.details {
    display: flex;
    align-items: center;
    gap: 30px; 
    font-size: 25px;
    font-family: "Oswald";
    margin-right: 15px;

}
.git-hub {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color:white;
}

.git-id {
    display: inline-flex;
    font-size: 20px;
}

.git-image {
    background-image: url("gitimage.png");
    background-size: cover;
    width: 20px; 
    height: 20px;
    display: inline-block;
  }

/*body */

.vh_body { 
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#main_body {
    background-image: url("main.jpg");
}

.main_text {
    flex-wrap: wrap;
    font-family: "Share Tech Mono";
    text-align: center;
    display: block;
    font-size : 70px;
    margin-top: 170px;
}

#title-text {
   animation: popup 1.5s ease-out forwards;
}

.underline-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

#underline-main {
    border-top: solid 5px black;
}

#underline-rqg { 
    animation: underline_from_middle 1s 1s ease-out forwards;
}

#title-desc {
    text-align: center;
    margin: 40px 0 50px 0;
    font-size: 25px;
    animation: popup 1s 2s ease-out forwards;
    opacity: 0;
}

#title-instruction {    
   font-size: 20px;
   text-align: center;
   animation: popup 1s 2s ease-out forwards;
   opacity: 0;
}

@keyframes underline_from_middle {
    from { 
        width: 0;
    }
    to {
        width: 900px;
}
}

@keyframes popup {
      from {
        opacity: 0;
        transform: translateY(50px);
      }
      to {
        opacity: 1;
        transform: translateY(0); 
      }
    }

/*motivational page*/ 
#motiv_body {
    background-image: url("motivation.jpg");
}

.quote-text {
    animation: slide 1.5s ease-out forwards;
}

@keyframes slide {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0); 
    }
  }

#underline_motiv {
    width: 800px;
} 

.underline_anim {
    animation: underline 1s 1s ease-out forwards;
}

@keyframes underline {
    from { 
        width: 0;
        border-top: solid 5px;
    }
    to {
        border-top: solid 5px black;
        width: 100%;
}
}

.generated_quote {
    text-align: center;
    margin: 40px 0 100px 0;
    font-size: 25px;
    animation: slide 1s 1.5s ease-out forwards;
    opacity: 0;
}


button {
    background : none;
    border: 0;
    height: 75px;
    width: 200px;
}

.button_div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.button_container {
    position: relative;
    height: 100px;
    width: 215px;
}

.generative_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 75px;
    width: 200px;
    background-color: rgb(183, 174, 174);
    animation: appear 1s 2s ease-out forwards;
    opacity: 0;
}

.button_shadow {
    background-color: black;
    height: 75px;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 85%;
    animation: appear 1s 2s ease-out forwards;
    opacity: 0;
}

.generative_button:hover {
    top:10px;
    left: 10px;
    cursor: pointer;
}

@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* happy page*/
#underline_happy {
    width: 550px;
} 

#happy_body {
    background-image: url("happy.jpg");
}

/*sad page*/
#underline_sad {
    width: 450px;
} 

#sad_body {
    background-image: url("sad.jpg")
}

